body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.post {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 30px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  
}

.post__image {
  width: 500px;
  height: 500px;
  background-position: center;
  background-size: cover;
}